{% macro render_flashes() %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label == 'error' ? 'danger' : label }} mt-4">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}