{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Symrecipe !</h1>
        <p class="lead">SymRecipe est une application</p>
        <hr class="my-4">
        <p>Pour commencer, rendez-vous sur la page d'inscription ou de connexion pour utiliser l'application</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/inscription" role="button">S'incrire</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/connexion" role="button">Se connecter</a>
        </p>
    </div>
    </div>
{% endblock %}
